/* ============= Conatct Us ==========  */


#contactus{
    padding-top: 100px;
    .card1{
        background-color: #207FBF;
        padding: 10px;
        h2{
            color: white;
        }
    }
    button{
        background-color: #3790cc;
        color: white;
        font-size: 18px;
        font-weight: 600;
     
    }
    i{
        color: red;
    }
}